.selector {
  list-style: none;
  font-size: 2rem;
  cursor: pointer;

  margin: 0 auto 0 auto;

  display: flex;
}

.selector li ul {
  padding-left: 5%;
  display: flex;
  list-style: none;
  border: none;
  flex-wrap: wrap;
  overflow-x: hidden;
  font-size: 10;
  gap: 5px;
}
.selector li ul li {
  border-right: solid 2px #6a5353f1;
  padding: 0.5rem;
}

.selector li ul li:hover,
.selector li ul li.hover,
.selector li ul li:active {
  color: #b49898;
  cursor: pointer;
}
