@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:ital,wght@1,300;1,500;1,700&display=swap');
.p {
  font-family: 'Montserrat', sans-serif;
}
.img {
  height: 50%;
  width: 50%;
}
